/* 
body {
  background: white;
  font-family: verdana;
}
 .new-user {
  background:lavender;
  padding: 20px 40px;
  margin: 30px auto;
  width: 380px;
  font-size: 16px;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
} 
.new-user {
  margin: 10px auto;
  padding: 3px 36px;
  width: 380px;
  font-size: 16px;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  box-shadow: 4px 4px 5px #0e62788c;
  background: #efefef;
  z-index: 999;
}
h2,h1 {
  color: #555;
}

label,
input {
  display: block;
  margin: 10px 0;
}
label {
  color: #777;
}
input[type="text"],
input[type="email"],
input[type="password"]
{
  border: 1px solid #ddd;
  padding: 6px;
  border-radius: 10px;
  width: 100%;
}
.check-dis{
  display: inline-flex;
  margin: 10px 0;
}
input[type="submit"] {
  margin: 24px auto 10px auto;
  font-size: 16px;
  background: #04aa6d;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
}
.error {
  color: red;
}
select {
  margin: 6px 20px;
  padding: 6px 2px 6px 2px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  transition: all 150ms ease;
  color: #5a667f; 
}


.last-contain {
  display: flex;
  justify-content: space-between;
} */
body {
  /* background: white; */
  font-family: verdana;
  background-image: url("image.jpg");
  background-size: 2000px;
}
.new-user {
  /* margin: 70px auto; */
  padding: 3px 36px;
  width: 380px;
  font-size: 16px;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  box-shadow: 4px 4px 5px #0e62788c;
  background: #efefef;
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
h2,
h1 {
  color: #555;
}

.login-cont {
  text-align: center;
}

label,
input {
  display: block;
  margin: 10px 0;
}
label {
  color: #777;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #ddd;
  padding: 6px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
}
.check-dis {
  display: inline-flex;
  margin: 10px 0;
}
input[type="submit"] {
  margin: 24px auto 10px auto;
  font-size: 16px;
  background: #04aa6d;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
}
.error {
  color: red;
}
select {
  margin: 6px 20px;
  padding: 6px 2px 6px 2px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  transition: all 150ms ease;
  color: #5a667f;
}

.last-contain {
  display: flex;
  justify-content: space-between;
}

.btn-contauner {
  display: flex;
}
