<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>download page</title>
    <link rel="stylesheet" href="./CSS/downloadview.css">
  </head>
  <body>
    <div class="container">
      <form action="#" method="POST">
        <center><h3>Welcome</h3></center>
        <input
          class="but"
          name="download"
          type="submit"
          value="click here to download"
        />
        <input class="but" name="profile" type="submit" value="Edit Profile" />
        <input class="but" name="logout" type="submit" value="log out" />
      </form>
    </div>
  </body>
</html>
